endpoint  = "https://192.168.1.30:8006/"
insecure  = true

api_token = "ansible@pve!ansible=9f290045-6c00-4912-ae1d-cc9184c57c6b"

datastore_image = "local"
datastore_vm    = "local-lvm"
default_bridge  = "vmbr0"

image_url       = "https://cloud-images.ubuntu.com/noble/current/noble-server-cloudimg-amd64.img"
image_file_name = "ubuntu-24.04-noble.img"

ci_username = "psubedi"
ssh_authorized_key_path = "~/.ssh/id_rsa.pub"

vms = {
  "k3-node-1" = {
    node_name = "proxmox1"
    vm_id     = 500
    cores     = 5
    memory_mb = 8195
    disk_gb   = 50
    ip_cidr   = "192.168.1.40/24"
    bridge    = "vmbr0"
    gateway   = "192.168.1.1"
    datastore = "local-lvm"
  }
  "k3-node-2" = {
    node_name = "proxmox2"
    vm_id     = 501
    cores     = 5
    memory_mb = 8195
    disk_gb   = 150
    ip_cidr   = "192.168.1.41/24"
    bridge    = "vmbr0"
    gateway   = "192.168.1.1"
    datastore = "local-lvm"
  }
  "k3-node-3" = {
    node_name = "proxmox3"
    vm_id     = 502
    cores     = 5
    memory_mb = 8195
    disk_gb   = 250
    ip_cidr   = "192.168.1.42/24"
    bridge    = "vmbr0"
    gateway   = "192.168.1.1"
    datastore = "local-lvm"
  }
}
